@model ECommerce_Sat.DAL.Entities.Country

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Está seguro que desea eliminar este país?</h3>
<div>
    <h4>País</h4>
    <hr />

    <partial name="...¨/Shared/PartialsViews/_CountryDetailDelete" />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <br/>
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> |
        <<a asp-action="Index" class="btn btn-outline-success">Regresar</a>
    </form>
</div>
